ZEPHYR_USER := zephyr,user

menuconfig YKB_BACKLIGHT
    bool "Enable backlight for LED strip based backlight"
	depends on $(dt_node_has_prop,/$(ZEPHYR_USER),ykb-backlight)
	depends on $(dt_node_has_prop,/$(ZEPHYR_USER),ykb-backlight-maps)
    depends on $(dt_node_has_prop,/$(ZEPHYR_USER),ykb-backlight-xs)
    depends on $(dt_node_has_prop,/$(ZEPHYR_USER),ykb-backlight-ys)
    select LED_STRIP
    select LUMISCRIPT
    default y

if YKB_BACKLIGHT

    module = YKB_BACKLIGHT
    module-str = ykb_backlight
    source "subsys/logging/Kconfig.template.log_config"

    config YKB_BL_THREAD_STACK_SIZE
        int "Thread stack size"
        default 80000

    config YKB_BL_THREAD_PRIORITY
        int "Thread priority"
        default 15

    config YKB_BL_INIT_PRIORITY
        int "Init priority"
        default APPLICATION_INIT_PRIORITY

    menu "Lumiscript VM"

        config YKB_BL_MAX_SCRIPTS
            int "Maximum amount of scripts stored in settings"
            depends on LIB_KB_SETTINGS
            default 10

        config YKB_BL_LUMIVM_CONST_CAPACITY
            int "Lumiscript VM max amount of constants"
            default 512

        config YKB_BL_LUMIVM_GLOBAL_CAPACITY
            int "Lumiscript VM max amount of global variables"
            default 256

        config YKB_BL_LUMIVM_KEY_VAR_CAPACITY
            int "Lumiscript VM max amount of key variables"
            default 128

        config YKB_BL_LUMIVM_CODE_CAPACITY
            int "Lumiscript VM max size of the bytecode script"
            default 8192

        config YKB_BL_LUMIVM_STACK_CAPACITY
            int "Lumiscript VM max amount of stack objects"
            default 256

    endmenu

endif # YKB_BACKLIGHT
