/dts-v1/;
#include <nordic/nrf5340_cpuapp_qkaa.dtsi>
#include "dactyl_v1_nrf5340_cpuapp_common.dts"

/ {
	model = "YKB Dactyl V1 Left board";
	compatible = "ykb,dactyl-v1-nrf5340-cpuapp-left";

	chosen {
		zephyr,sram = &sram0_image;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,sram-secure-partition = &sram0_s;
		zephyr,sram-non-secure-partition = &sram0_ns;
	};
};

&kb_handler {
    compatible = "kb-handler-splitlink-master";
    key-count-slave = <34>;
};


/* Include default memory partition configuration file */
#include <nordic/nrf5340_cpuapp_partition.dtsi>
