#include <dt-bindings/kb-handler/kb-key-codes.h>

/ {

    mux1: mux1 {
        compatible = "mux-gpio";
        sel-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>;
        channels = <8>;
        #mux-cells = <0>;
    };
    mux2: mux2 {
        compatible = "mux-gpio";
        sel-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>;
        channels = <8>;
        #mux-cells = <0>;
    };
    mux3: mux3 {
        compatible = "mux-gpio";
        sel-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>;
        channels = <8>;
        #mux-cells = <0>;
    };
    mux4: mux4 {
        compatible = "mux-gpio";
        sel-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>,
                    <&gpio0 28 GPIO_ACTIVE_HIGH>;
        channels = <8>;
        #mux-cells = <0>;
    };

    kscan1: kscan1 {

        compatible = "kscan-muxes";

        // handles indexes [0-7], [8-15], [16-23], [24-31]
        idx-offset = <0>;
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>;
        muxes = <&mux1>, <&mux2>, <&mux3>, <&mux4>;

        settle-us = <3>;
        default-thresholds = <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>, <600>, <600>, <600>,
                             <600>, <600>;

        #kscan-cells = <0>;
    };
    kscan2: kscan2 {

        compatible = "kscan-channels";

        // handles indexes [32-33]
        idx-offset = <32>;
        io-channels = <&adc 4>, <&adc 5>;

        settle-us = <3>;
        default-thresholds = <600>, <600>;

        #kscan-cells = <0>;
    };

    kb_handler: kb-handler {
        // Generic compatible, overridden in left/right files.
        compatible = "kb-handler-simple";

        kscans = <&kscan1>, <&kscan2>;

        key-count = <34>;

        default-keymap-layer1 =
            // Left (34)
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,

            // Right (34)
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>;

        default-keymap-layer2 =
            // Left (34)
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,

            // Right (34)
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>,
            <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>, <KEY_NOKEY>;
    };
};

