config BOARD_DACTYL_V1
    select SOC_NRF5340_CPUAPP_QKAA if BOARD_DACTYL_V1_NRF5340_CPUAPP
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_DACTYL_V1_NRF5340_CPUAPP_LEFT
    select SOC_NRF5340_CPUAPP_QKAA if BOARD_DACTYL_V1_NRF5340_CPUAPP_RIGHT
	select SOC_NRF5340_CPUNET_QKAA if BOARD_DACTYL_V1_NRF5340_CPUNET
