menuconfig KB_SETTINGS
    bool "Enable KB Settings library"
    depends on KB_HANDLER
    select SETTINGS

if KB_SETTINGS

    module = KB_SETTINGS
    module-str = kb_settings
    source "subsys/logging/Kconfig.template.log_config"

    ZEPHYR_USER := zephyr,user
    KB_HANDLER_PATH := $(dt_nodelabel_path,kb_handler)

    config KB_SETTINGS_KEY_COUNT
        int
        default $(dt_node_int_prop_int,/$(ZEPHYR_USER),kb-handler-key-count)

    config KB_SETTINGS_KEY_COUNT_SLAVE
        int
        depends on $(dt_node_has_prop,/$(ZEPHYR_USER),kb-handler-key-count-slave)
        default $(dt_node_int_prop_int,/$(ZEPHYR_USER),kb-handler-key-count-slave)

    config KB_SETTINGS_INIT_PRIORITY
        int "Init priority"
        default 140

    if YKB_BACKLIGHT

        config KB_SETTINGS_YKB_BL_SCRIPT_STORAGE_LEN
            int "Amount of storage (in bytes) reserved for Lumiscript backlight scripts available in KB Settings"
            default 4096

        config KB_SETTINGS_YKB_BL_SCRIPT_NAME_MAX_LEN
            int "Maximum amount of characters for a Lumiscript backlight script name"
            default 15

    endif # YKB_BACKLIGHT

endif # KB_SETTINGS
