config YKB_BUILD_SPLIT_HALVES
  bool "Build both split halves (left/right)"
  default y

if SUPPORT_NETCORE

config SUPPORT_NETCORE_CPUNET_MPSL
	default y

choice NETCORE
	default NETCORE_CPUNET_MPSL if NETCORE_REMOTE_BOARD_TARGET_CPUCLUSTER != ""
endchoice

endif # SUPPORT_NETCORE
