menu "YKBFirmware settings"

config YKB_SPLIT
    bool "Compile for the split keyboard"

if YKB_SPLIT
rsource "Kconfig.split"
endif # YKB_SPLIT_KB

if !YKB_SPLIT
rsource "Kconfig.regular"
endif # !YKB_SPLIT_KB

endmenu # YKBFirmware settings
