config YKB_SPLIT_LEFT
    bool "Compile for the left board"

config YKB_SPLIT_KEY_COUNT_LEFT
    int "Amount of keys for the left board"

config YKB_SPLIT_RIGHT
    bool "Compile for the right board"

config YKB_SPLIT_KEY_COUNT_RIGHT
    int "Amount of keys for the right board"

config YKB_SPLIT_IS_MASTER
    bool

choice YKB_SPLIT_MASTER_BOARD
    prompt "Master half of the YKB keyboard"
    default YKB_SPLIT_MASTER_LEFT

config YKB_SPLIT_MASTER_LEFT
    bool "Use left keyboard as master"
    select YKB_SPLIT_IS_MASTER if YKB_SPLIT_LEFT

config YKB_SPLIT_MASTER_RIGHT
    bool "Use right keyboard as master"
    select YKB_SPLIT_IS_MASTER if YKB_SPLIT_RIGHT

endchoice # YKB_MASTER_HALF
