menuconfig SPLITLINK
    bool "Enable Splitlink"
    default y

if SPLITLINK

    module = SPLITLINK
    module-str = splitlink
    source "subsys/logging/Kconfig.template.log_config"

    rsource "Kconfig.ykb_esb"

endif # SPLITLINK
