config SPLITLINK_YKB_ESB
    bool "Enable Splitlink over ESB"
    depends on (DT_HAS_SPLITLINK_YKB_ESB_PTX_ENABLED || DT_HAS_SPLITLINK_YKB_ESB_PRX_ENABLED)
    default y
    select LIB_YKB_ESB

if SPLITLINK_YKB_ESB

    choice SPLITLINK_YKB_ESB_ROLE
        prompt "Splitlink over ESB role"
        default SPLITLINK_YKB_ESB_PTX if DT_HAS_SPLITLINK_YKB_ESB_PTX_ENABLED
        default SPLITLINK_YKB_ESB_PRX if DT_HAS_SPLITLINK_YKB_ESB_PRX_ENABLED

        config SPLITLINK_YKB_ESB_PTX
            bool "Enable Splitlink over ESB as PTX"

        config SPLITLINK_YKB_ESB_PRX
            bool "Enable Splitlink over ESB as PRX"

    endchoice # SPLITLINK_YKB_ESB_ROLE

    config SPLITLINK_YKB_ESB_ALIVE_TIMEOUT
        int "Time after last incoming packet after which disconnect is triggered (ms)"
        default 200
        range 2 1000

    config SPLITLINK_YKB_ESB_INIT_PRIORITY
        int "Init priority"
        default APPLICATION_INIT_PRIORITY

    if SPLITLINK_YKB_ESB_PTX

        config SPLITLINK_YKB_ESB_PTX_ALIVE_DELAY
            int "Time between sending 'Alive' packets (ms)"
            default 50
            range 1 SPLITLINK_YKB_ESB_ALIVE_TIMEOUT

    endif # SPLITLINK_YKB_ESB_PTX

endif # SPLITLINK_YKB_ESB
