config YKB_IS_SPLIT_MASTER
    bool

config YKB

choice YKB_SPLIT_MASTER
    prompt "Master half of the YKB keyboard"
    default YKB_SPLIT_MASTER_LEFT
    select YKB_IS_SPLIT_MASTER if 

config YKB_SPLIT_MASTER_LEFT
    bool "Use left keyboard as master"

config YKB_SPLIT_MASTER_RIGHT
    bool "Use right keyboard as master"

endchoice # YKB_MASTER_HALF
