menu "YKB Libraries"

    rsource "bt_connect/Kconfig"
    rsource "kb_settings/Kconfig"
    rsource "ykb_battsense/Kconfig"
    rsource "usb_connect/Kconfig"
    rsource "ykb_esb/Kconfig"
    rsource "ykb_strip_backlight/Kconfig"
    rsource "ykb_timeslot/Kconfig"

endmenu
