menuconfig KB_HANDLER
    bool "Enable KB Handler driver"
    default y if DT_HAS_KB_HANDLER_SIMPLE_ENABLED
    default y if DT_HAS_KB_HANDLER_SPLITLINK_MASTER_ENABLED
    default y if DT_HAS_KB_HANDLER_SPLITLINK_SLAVE_ENABLED
    select KSCAN

if KB_HANDLER

    choice KB_HANDLER_IMPL
        prompt "KB Handler implementation"

        config KB_HANDLER_SIMPLE
            bool "Simple"
            depends on DT_HAS_KB_HANDLER_SIMPLE_ENABLED

        config KB_HANDLER_SPLITLINK_SLAVE
            bool "Splitlink (slave)"
            depends on DT_HAS_KB_HANDLER_SPLITLINK_SLAVE_ENABLED
            select SPLITLINK

        config KB_HANDLER_SPLITLINK_MASTER
            bool "Splitlink (master)"
            depends on DT_HAS_KB_HANDLER_SPLITLINK_MASTER_ENABLED
            select SPLITLINK

    endchoice # KB_HANDLER_IMPL

    config KB_HANDLER_MSGQ_SIZE
        int "KB Handler message queue size"
        default 8

    config KB_HANDLER_THREAD_STACK_SIZE
        int "KB Handler thread stack size"
        default 1024

    config KB_HANDLER_THREAD_PRIORITY
        int "KB Handler thread priority"
        default 15

    config KB_HANDLER_REPORT_ROLLOVER
        bool "Enable rollover error when more than 6 keys are pressed at once"
        default y

    module = KB_HANDLER
    module-str = kb_handler
    source "subsys/logging/Kconfig.template.log_config"

    rsource "Kconfig.simple"
    rsource "Kconfig.splitlink_master"
    rsource "Kconfig.splitlink_slave"

endif # KB_HANDLER
