menu "Drivers"
    rsource "kscan/Kconfig"
    rsource "mux/Kconfig"
    rsource "splitlink/Kconfig"
endmenu

menu "Custom Zephyr Drivers"
    rsource "charger/Kconfig"
    rsource "fuel_gauge/Kconfig"
endmenu
