menuconfig BT_CONNECT
    bool "Enable BT Connect subsystem"
    select BT
    select BT_SMP
    select BT_PERIPHERAL
    select BT_BAS
    select BT_HIDS
    select BT_CONN_CTX
    select BT_DIS
    select BT_DIS_MANUF_NAME
    select BT_DIS_PNP
    select SETTINGS
    select BT_SETTINGS

if BT_CONNECT

    module = BT_CONNECT
    module-str = bt_connect
    source "subsys/logging/Kconfig.template.log_config"

    config BT_CONNECT_INIT_PRIORITY
        int "Bluetooth connect init priority"
        default 90

    config BT_CONNECT_REPORT_MAP_MAX_SIZE
        int "Maximum assembled BLE HID report map size"
        default 256

    config BT_CONNECT_MAX_VENDOR_IN_REPORT_SIZE
        int "Vendor input report packet size"
        range 7 64
        default 64

    config BT_CONNECT_MAX_VENDOR_OUT_REPORT_SIZE
        int "Vendor output report packet size"
        range 7 64
        default 64

    config BT_CONNECT_KBD
        bool "Enable Bluetooth keyboard HID transport"
        default y

    config BT_CONNECT_MOUSE
        bool "Enable Bluetooth mouse HID transport"
        default y

    config BT_CONNECT_VENDOR
        bool "Enable Bluetooth vendor transport"
        default y

    if BT_CONNECT_VENDOR

        choice BT_CONNECT_VENDOR_PROTOCOL_IMPL
            prompt "Protocol implementation for Bluetooth vendor HID"
            default BT_CONNECT_VENDOR_YKB_PROTOCOL

            config BT_CONNECT_VENDOR_YKB_PROTOCOL
                bool "Use YKB protocol"

        endchoice

    endif # BT_CONNECT_VENDOR

    configdefault BT_MAX_CONN
        default 1

    configdefault BT_MAX_PAIRED
        default 2

    configdefault BT_ATT_TX_COUNT
        default 5

    configdefault BT_GATT_AUTO_SEC_REQ
        default n

    configdefault BT_AUTO_PHY_UPDATE
        default n

    configdefault BT_DEVICE_APPEARANCE
        default 961

    configdefault BT_GATT_UUID16_POOL_SIZE
        default 40

    configdefault BT_GATT_CHRC_POOL_SIZE
        default 20

    configdefault BT_HIDS_ATTR_MAX
        default 40

    configdefault BT_DIS_MANUF_NAME_STR
        default "YarmanKeyboards"

    configdefault BT_DIS_PNP_VID_SRC
        default 2

    configdefault BT_DIS_PNP_VID
        default 0x6969

    configdefault BT_HIDS_MAX_CLIENT_COUNT
        default 1

    choice BT_HIDS_DEFAULT_PERM
        default BT_HIDS_DEFAULT_PERM_RW_ENCRYPT
    endchoice

endif # BT_CONNECT
