menuconfig KSCAN
    bool "Enable KScan driver"
    select ADC

if KSCAN

    module = KSCAN
    module-str = kscan
    source "subsys/logging/Kconfig.template.log_config"

    rsource "Kconfig.muxes"
    rsource "Kconfig.enables"
    rsource "Kconfig.channels"

endif # KSCAN
