menuconfig KSCAN
    bool "Enable KScan driver"
    default y if DT_HAS_KSCAN_ENABLES_ENABLED || DT_HAS_KSCAN_CHANNELS_ENABLED || DT_HAS_KSCAN_MUXES_ENABLED
    select ADC

if KSCAN

    module = KSCAN
    module-str = kscan
    source "subsys/logging/Kconfig.template.log_config"

    rsource "Kconfig.muxes"
    rsource "Kconfig.enables"
    rsource "Kconfig.channels"

endif # KSCAN
