config KSCAN_CHANNELS
    bool "Enable KScan driver for polling with multiplexors"
    default y if DT_HAS_KSCAN_CHANNELS_ENABLED

if KSCAN_CHANNELS

    config KSCAN_CHANNELS_THREAD_STACK_SIZE
        int "KScan MUXes thread stack size (each channel)"
        default 1024

    config KSCAN_CHANNELS_THREAD_PRIORITY
        int "KScan MUXes thread priority (each channel)"
        default 15

endif # KSCAN_CHANNELS
